body {
  margin: 0;
  padding: 20px;
  font-family: 'Anton', sans-serif;
  background: linear-gradient(to bottom, #3a4432, #1e211b);
  text-align: center;
}

h1 {
  font-size: 38px;
	font-family: 'Bebas Neue', sans-serif;
  color: #f3e8c8;
  margin-top: 0px;
  margin-bottom: 25px;
  font-weight: 900;
	text-shadow: 2px 2px 6px rgba(0,0,0,.5);
}

button {
  background-color: #7b2d26;
  color: white;
  border: none;
  padding: 16px 28px;
  font-size: 22px;
	font-family: 'Anton', sans-serif;
  font-weight: 700;
  border-radius: 18px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
  cursor: pointer;
}

button:active {
  transform: scale(0.97);
}

#result {
  margin-top: 30px;
  background-color: #d9cfb0;
  padding: 20px;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #2a241b;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.classic-toggle {
  display: block;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 700;
  color: #f3e8c8;
}

.paramount-btn {
  display: block;
  margin-top: 15px;
  background-color: #2e5b37;
  color: white;
  padding: 14px 24px;
  border-radius: 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.paramount-btn:active {
  transform: scale(0.97);
}

/* Desktop version */
@media (min-width: 900px) {
  h1 {
    font-size: 56px;
  }

  button {
    font-size: 28px;
    padding: 20px 40px;
  }

  #result {
    font-size: 30px;
    max-width: 650px;
  }
	
	footer {
		font-size: 5px;
	}
}